::-webkit-scrollbar{display: none;}
table{
position: absolute;
z-index: 2;
left: 50%;
top: 185%;
transform: translate(-50%,-30%);
width: 50%;
border-collapse: collapse;
border-spacing: 0;
box-shadow: 0 2px 15px rgba(64,64,64,.7);
border-radius: 12px 12px 0 0;
overflow:scroll;
}
td , th{
padding: 15px 20px;
text-align: center;
}
tr:first-child td{
background-color: #ba68c8;
color: #fafafa;
font-family: Sans-serif;
font-weight: 200;
text-transform: uppercase;
}
tr{
width: 100%;
background-color: #fafafa;
font-family:  sans-serif;
}
tr:nth-child(even){
background-color: #eeeeee;
}